<section id="login-container">
    <div class="content-login">
        <h1>Login</h1>
        <form method="POST" ></form>
            <fieldset>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="digite aqui..." autoFocus autoComplete="on" required />
            </fieldset>
            <fieldset>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="digite aqui..." required />
            </fieldset>
            <button type="button" class="sigin-button" onclick="logar()">
                Logar
            </button>
        </form>
    </div>
</section>

<script>
    function logar(){
        const password = document.querySelector('#password').value;
        const username = document.querySelector('#username').value; 
        axios.post('/login', {username, password}).then(
            (response)=>{
                axios.defaults.headers.authorization = `Bearer ${response.data.token}`;
                localStorage.setItem('token', response.data.token)
                window.location.replace('http://localhost:3333/admin')
            }
        ).catch(
            (err)=>{console.error(err)}
        )
    }
</script>